form{
background-color: rgb(207, 149, 250);
width: 50%;
margin: auto;
padding: 50px;
border-radius: 40px;
box-shadow: 0 0 20px black;
}

legend{
font-size:40px ;
text-align: center;
font-weight:bold ;
text-shadow: 0 0 5px black;
margin-bottom:14px ;

}

input[type="text"] ,input[type="email"] ,input[type="password"] ,input[type="tel"],
input[type="number"],input[type="date"] , input[type="datetime-local"],
select ,{

    width:100% ;
    height:40px ;
    border-radius: 40px;
    background-color: rgb(236, 175, 175);
    font-weight:bolder ;
    border:none ;
    padding-left: 5px;
    box-shadow: 0 0 30px black;
    margin-top: 10px;

}

textarea{
border-radius:10px ;
box-shadow: 0 0 30px black;
margin-top: 10px;
background-color: rgb(236, 175, 175);



}

button{
background-color: rgb(151, 8, 106);
color: black;
padding: 10px;
border-radius: 10px;
display: block;
margin: auto;


}
button:hover{
    background-color: rgb(247, 182, 104);

}