table{
    border-collapse: collapse;
    width: 400px ;
    font-family:Arial, sans-serif ;
}
td,th{
border:4px solid black ;
padding:12px ;
text-align: center;
font-weight: bold;

}
th{
text-decoration: underline;



}